body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;
  	
	background-color:#f2f2f2;
}
a {
	text-decoration: none;
}
.main_navigation{
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
}

.container_index{
	background-image: url("../img/big_img_sedona.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size:100% 510px;
}
.gray_block{
	background-color:#eeeeee;
}

.site_navigation,
.reason_list,
.infrastructure,
.footer_social,
.catalog_list,
.filter ul{
	list-style: none;
}
.site_navigation a,
.hotel_name a{
	color:#000000;
}
.site_navigation a:hover,
.site_navigation a:focus,
.hotel_name a:hover,
.hotel_name a:focus{
	color:#81b3d2;
}
.sort_type{
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;	
}
.sort_type .text_low{
	color:#000000;
}
.sort_type a{
	color:rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #81b3d2;
}
.sort_type a:first-of-type{
	color:#81b3d2;
	border:none;
}
.sort_type a:hover,
.sort_type a:focus
{
	color:#81b3d2;
	border-bottom: 1px dotted #81b3d2;
}
.sort_type a:active{
	color:#000000;
	border:none;
}
.welcom{
	height:510px;
	background-image: url("../img/intro-welcome.svg");		
	background-repeat: no-repeat;
	background-position: top center;
	background-size: auto 353px;
}
.head_reason{
	line-height: 26px;
	text-align:center;
}
.head_reason .text_big{
	font-size: 21px;	
	font-weight: 700;
	color:#000000;	
}
.feature,
.maps{
	text-align:center;
}
.feature .text_big{
	font-size: 21px;
	color:#000000;
}
.hotel_search p {
	text-align:center;
	line-height: 24px;
}
.hotel_search  .text_grand{
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	color:#000000;
	
}
.reason_item_motive .feature {
	color:#ffffff;
	background-color:#81b3d2;
}
.reason_item_motive  .text_big{
	color:#ffffff;
}
.hotel_search .modal_close{
	font: inherit;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color:#ffffff;
	text-align:center;
	background-color:#766357;
	text-transform: uppercase;
	border: none;
}
.hotel_search .modal_close:hover,
.hotel_search .modal_close:focus,
.hotel_info .book:hover,
.hotel_info .book:focus{
	background-color:#604e43;
}
.hotel_search .modal_close:active,
.hotel_info .book:active{
	background-color:#503e33;
	color:rgba(255, 255, 255, 0.3);
}
.search_hotel_form{
	line-height: 26px;
	font-weight: 700;
	color:#000000;
	background-color:#ffffff;
}
.search_hotel_form input{
	text-align:center;
	border:0px solid #000000;
	background-color:#f2f2f2;
}
.search_hotel_form input:hover{
	background-color:#ebebeb;
	border:2px solid #ebebeb;
}
.search_hotel_form input:focus,
.search_hotel_form input:active{
	background-color:#ffffff;
	border: 2px solid grba(0, 0, 0, 0.3);	
}
.search_hotel_item button{
	background-color:transparent;
	border:none;
	color:#a9a9a9;
}
.number_persons button:hover,
.number_persons button:focus{
	color:#000000;
}
.number_persons button:active{
	color:#81b3d2;
}
.search_hotel_form .button,
.main_footer .social_button{
	font: inherit;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color:#ffffff;
	text-align:center;
	background-color:#81b3d2;
	text-transform: uppercase;
	border: none;
}
.main_footer{
	background-color:rgba(255, 255, 255, 0.9);
}
.search_hotel_form .button:hover,
.main_footer .social_button:hover,
.catalog_item .detailed:hover,
.search_hotel_form .button:focus,
.main_footer .social_button:focus,
.catalog_item .detailed:focus{
	background-color:#669ec0;
}
.search_hotel_form .button:active,
.main_footer .social_button:active,
.catalog_item .detailed:active{
	background-color:#5496bd;
	color:rgba(255, 255, 255, 0.3);
}
.filters{
	background-image: url("../img/img_filtr.jpg");		
	background-repeat: no-repeat;
}
.found{
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color:#000000;
}
.catalog_item .button{
	font-weight: 700;
	color:#ffffff;
}
.catalog_item .detailed{
	background-color:#81b3d2;
}
.hotel_info .book{
	background-color:#766357;
}
.hotel_rating_text{
	color:#666666;
}
.filter_button,
.filter_price{
	background:transparent;
	border:2px solid #ffffff;
	color:#ffffff;
}
.filters{
	color:#ffffff;
}
.filters legend{
	font-size:16px;
	font-weight: 700;
}
.filters fieldset{
	border:none;
}